* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FAEF6F;
}

#logo-amawta {
  padding-top: 30px;
  padding-bottom: 25px;
  width: 570px;
  display:block;
  margin:auto;
}

p {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  text-transform:capitalize;
}

#navegador {
  background-color: #FFF;
  height:40px;
}

#navegador ul{
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  position: absolute;
  right:0px;
}
#navegador li{
  display: inline-block;
  text-align: center;
  font-variant: normal;
  text-transform: uppercase;
  margin-left: 100px;

}
